<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppwriteEndpoint</key>
	<string>https://your-appwrite-endpoint.cloud.appwrite.io/v1</string>
	<key>AppwriteProjectId</key>
	<string>your-project-id-here</string>
	<key>AppwriteDatabaseId</key>
	<string>your-database-id-here</string>
	<key>AppwriteApiKey</key>
	<string>your-api-key-here</string>
</dict>
</plist> 